body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333; /* Color de texto general */
    background-color: #fff; /* Fondo general blanco */
}

header {
    background-color: #00bfff; /* Celeste para el encabezado */
    color: #fff; /* Texto en blanco para contraste */
    text-align: center;
    padding: 1em 0;
}

header img {
    width: 100px;
    height: auto;
}
nav {
    background-color: #00BFFF; /* Color celeste */
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
}

nav ul li {
    padding: 14px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

/* Estilo para el botón de menú en dispositivos móviles */
.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px; /* Tamaño del icono del menú */
    color: white;
    padding: 14px;
}

/* Cambios de estilo para pantallas pequeñas */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        text-align: center;
    }
    
    nav ul {
        flex-direction: column; /* Cambia la dirección del flex a columna para pantallas pequeñas */
        display: none; /* Oculta los elementos de la lista por defecto en pantallas pequeñas */
        width: 100%;
    }

    nav ul li {
        text-align: center; /* Alinea el texto al centro para pantallas pequeñas */
    }

    /* Muestra la lista cuando se hace clic en el icono del menú */
    nav ul.show {
        display: flex;
    }
}
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #E0FFFF; /* Un tono más claro de celeste para las secciones */
    border-radius: 10px; /* Bordes redondeados para las secciones */
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

footer {
    background-color: #00BFFF; /* Celeste para el pie de página */
    color: #fff; /* Texto en blanco */
    text-align: center;
    padding: 10px;
}
html {
    scroll-behavior: smooth;
}

.carrusel {
    position: relative;
    width: 100%;
    max-width: 600px; /* Ajusta esto según tus necesidades */
    margin: auto;
    overflow: hidden;
}

.carrusel-inner img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 300px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Mantiene la relación de aspecto de la imagen */
    display: block;
}
.carrusel .prev, .carrusel .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00BFFF; /* Color celeste uniforme */
    color: white;
    border: none;
    font-size: 16px; /* Tamaño uniforme de la fuente para ambas flechas */
    padding: 5px 10px; /* Padding uniforme */
    border-radius: 50%; /* Botones circulares para ambas flechas */
    opacity: 0.7; /* Opacidad uniforme */
    transition: all 0.3s ease; /* Transición suave uniforme */
}

.carrusel .prev {
    left: 10px; /* Posición ajustada para la flecha izquierda */
    border-radius: 50%; /* Redondeado igual para ambas flechas */
}

.carrusel .next {
    right: 10px; /* Posición ajustada para la flecha derecha */
    border-radius: 50%; /* Redondeado igual para ambas flechas */
}

.carrusel .prev:hover, .carrusel .next:hover,
.carrusel .prev:focus, .carrusel .next:focus {
    background-color: #00DFFF; /* Color más claro al pasar el ratón, igual para ambas */
    opacity: 1; /* Opacidad completa al pasar el ratón, igual para ambas */
}

#sponsors {
    margin: 20px 0;
}

.contenedor-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo-sponsor {
    margin: 10px;
    opacity: 0.8;
    max-height: 100px; /* Tamaño aumentado de los logos */
    transition: opacity 0.3s ease;
}

.logo-sponsor:hover {
    opacity: 1;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1.5s ease-in;
}

.hidden {
    opacity: 0;
}